<p> 
  
<p><a href="https://www.entrepreneur.com/article/380855" target="_blank" rel="noopener noreferrer">Blockchains Are The New App Stores [Entrepreneur.com] </a></p>

People on the Move [Biz Journals]:
https://www.bizjournals.com/losangeles/potmsearch/detail/submission/6497136/Nicholas_Resendez?ana

Hacker Noon Experts: On Demand Video Calls with The Smartest People in Tech [Yahoo Finance]:
https://finance.yahoo.com/news/hacker-noon-experts-demand-video-012000004.html

Hacker Noon Releases Noonies 2020 Voting Results: Winners of the Internet Declared [Yahoo]:
https://finance.yahoo.com/news/hacker-noon-releases-noonies-2020-214000524.html

Cryptocurrency Brings Social Benefits To Emerging Economies [Value Walk]
https://www.valuewalk.com/cryptocurrency-brings-social-benefits-to-emerging-economies/

AT&T Bug Bounty Program (Found a cross-script vulnerability and was awarded $50, $150, and undisclosed amounts on HackerOne):
https://hackerone.com/nich

U.S. Department of Defense Cyber Crime Center - DoD Vulnerability Disclosure Policy Bug Bounty Award:
https://hackerone.com/nich

Hacker Noon Contributor of the Year in Advertising:
https://noonies.tech/award/hacker-noon-contributor-of-the-year-advertising

Hacker Noon Contributor of the Year in Entrepreneurship:
https://noonies.tech/award/hacker-noon-contributor-of-the-year-entrepreneurship

Apple Web Security Hall of Fame:
https://support.apple.com/en-us/HT212230

Security Researcher Acknowledgment for Microsoft Online Services:
https://www.microsoft.com/en-us/msrc/researcher-acknowledgments-online-services-archive?rtc=1

Decentralization of the Internet: The Frontier of the Internet [HackerNoon]
https://hackernoon.com/decentralization-of-the-internet-the-future-frontier-of-the-internet-q2j35aj
  
How To Make a Living Freelancing and Working Remotely [HackerNoon]
https://hackernoon.com/how-to-make-a-living-freelancing-and-working-remotely-d14z355r

Decentralizing The Internet: The Hitchhiker's Guide [HackerNoon]
https://hackernoon.com/decentralizing-the-internet-the-hitchhikers-guide-r42433ie

How To Get A Remote Data Science Job [Towards Data Science]
https://towardsdatascience.com/how-to-get-a-remote-data-science-job-b813d3ff88ae

Understanding Language Through Sentiment Analysis in Python [Towards Data Science]
https://towardsdatascience.com/understanding-language-through-sentiment-analysis-in-python-e7bee1575cbb

Top 5 Best Cryptocurrency APIs For Developers [Towards Data Science]
https://towardsdatascience.com/top-5-best-cryptocurrency-apis-for-developers-32475d2eb749

Build A Twitter Bot-with-zero-code-that-gets-you-followers  
https://hackernoon.com/build-a-twitter-bot-with-zero-code-that-gets-you-followers-oi873zeh

Going Undercover By Scraping Cryptocurrency Market Metrics With Python
https://medium.com/crypto/going-undercover-by-scraping-cryptocurrency-market-metrics-with-python-8c2174983065

Before You Become A Bat Content Creator On The Brave Browser Read This
https://hackernoon.com/before-you-become-a-bat-content-creator-on-the-brave-browser-read-this-7zbe32o2

https://medium.com/coinmonks/public-perception-of-coming-bitcoin-halving-increased-cryptocurrency-social-sentiment-volatility-c5a21c0327aa

https://hackernoon.com/building-a-twitter-bot-to-automate-posting-cryptocurrency-news-with-python-a-step-by-step-guide-iv77327t

https://hackernoon.com/bitcoin-exceeds-dollar40000-for-the-first-time-ever-value-doubles-in-less-than-a-month-0qr34m5

https://blocktelegraph.io/alternative-approaches-learn-about-blockchain-dapps-smart-contracts/


</p> 



